/* Typical Device Breakpoints
-----------------------------
Pequenas telas: ate 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
*/

:root {
  --cor1: #5f2c82;
  --cor2: #49a09d;

  background: linear-gradient(to bottom, var(--cor1), var(--cor2));
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background: linear-gradient(to bottom, var(--cor1), var(--cor2));
  }

  section#login {
    width: 90vw;
  }

  section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  section#login > div#formulario {
    float: right;
    width: 65%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  body {
    background: linear-gradient(to bottom, var(--cor1), var(--cor2));
  }

  section#login {
    width: 950px;
  }

  section#login > div#imagem {
    float: left;
    width: 50%;
    height: 100%;
  }

  section#login > div#formulario {
    float: right;
    width: 50%;
  }
}
