/* 
Paleta de cores:
Verde: #49a09d
LilaÌs: #5f2c82
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #5f2c82;
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  background-color: white;
  border-radius: 20px;
  height: 500px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 250px;
}

#login > #imagem {
  background: #5f2c82 url(../imagens/metal.jpg);
  height: 200px;
}
