/* 
Paleta de cores:
Verde: #49a09d
LilaÌs: #5f2c82
*/

@font-face {
  font-family: 'Renner';
  font-weight: 300;
  src: url(../fontes/Renner.ttf) format('truetype');
}
@font-face {
  font-family: 'Expressway';
  font-weight: 200;
  src: url(../fontes/Expressway.otf) format('opentype');
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #5f2c82;
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px -1px 15px 2px rgba(0, 0, 0, 0.281);
  height: 500px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: 250px;
  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#login > #imagem {
  background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
  background-size: cover;
  background-position: bottom left;
  height: 200px;
}

#login > #formulario {
  display: block;
  padding: 10px;
}

section > #formulario > h1 {
  text-align: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Renner';
  font-weight: 600;
}

section > #formulario > p {
  font-size: 0.7em;
  font-family: 'Expressway';
  font-weight: 200;
}
