/* 
Paleta de cores:
Verde: #49a09d
LilaÌs: #5f2c82
*/

@font-face {
  font-family: 'Renner';
  font-weight: 300;
  src: url(../fontes/Renner.ttf) format('truetype');
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #5f2c82;
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  background-color: white;
  border-radius: 20px;
  box-shadow: -1px -1px 15px 2px rgba(0, 0, 0, 0.281);
  height: 490px;
  position: relative;
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: 250px;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

#login > #imagem {
  background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
  background-size: cover;
  background-position: bottom left;
  height: 200px;
}

#login > #formulario {
  display: block;
  padding: 10px;
}

section > #formulario > h1 {
  text-align: center;
  justify-content: center;
  padding: 5px;
  font-family: 'Renner';
  font-weight: 600;
}

section > #formulario > p {
  font-size: 12px;
}

form > div.campo {
  background-color: #5f2c82;
  display: block;
  border-radius: 8px;
  margin: 5px 0px;
  height: 40px;
  width: 100%;
}

div.campo > label {
  display: none;
}

div.campo > input {
  background-color: #94cfcd;
  border-color: #94cfcd;
  border-radius: 10px;
  font-size: 1em;
  height: 100%;
  width: calc(100% - 45px);
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-11px);
}

div.campo > input:focus-within {
  background-color: white;
  border: none;
}

form > input[type='submit'] {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1em;
  border: none;
  background-color: #94cfcd;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

form > input[type='submit']:hover {
  background-color: #689898d3;
}

form > a.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid #80b4b2;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.614);
}

form > a.botao:hover {
  background-color: #64c8c5;
}

form > a.botao > i {
  font-size: 0.8em;
}

div.campo > i {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}
